* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media only screen and (min-width: 1950px) {
    font-size: 82.5%;
  }

  @media only screen and (min-width: 2250px) {
    font-size: 102.5%;
  }

  @media only screen and (min-width: 2700px) {
    font-size: 122.5%;
  }

  @media only screen and (min-width: 3400px) {
    font-size: 142.5%;
  }

  @media only screen and (min-width: 4500px) {
    font-size: 192.5%;
  }
}

$violet: hsl(257, 40%, 49%);

body {
  font-family: "Poppins", sans-serif;
  background: url("../images/bg-desktop.svg"), $violet;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: 1200px) {
    background: url("../images/bg-mobile.svg"), $violet;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
  }
}

.heading-primary {
  font-size: 4rem;
  color: white;
  font-weight: 700;
  padding-bottom: 3rem;
}

.paragraph {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  padding-bottom: 4rem;
}

.button {
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1.5rem;
    background-color: white;
    color: $violet;
    padding: 2rem 8rem;
    border-radius: 5rem;
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
    transition: all 0.3s ease;
    display: inline-block;
  }

  &:hover {
    transform: translateY(-0.2rem) scale(1.05);
    box-shadow: 0 1.5rem 2.5rem rgba(black, 0.3);
  }

  @media only screen and (max-width: 900px) {
    padding-bottom: 10rem;
  }
}

.logobox {
  width: 100%;
  height: auto;
  padding: 5rem;

  @media only screen and (max-width: 350px) {
    padding: 5rem 3rem;
  }
}

.content {
  width: 95%;
  margin: 0 auto;
  height: 80vh;
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;

  &__right {
    padding-top: 5rem;
    width: 100%;

    @media only screen and (max-width: 1200px) {
      width: 100%;
      padding-bottom: 20rem;
    }
  }

  &__left-image {
    max-width: 100%;
    height: auto;

    @media only screen and (min-width: 2250px) {
      width: 100%;
      height: auto;
    }
  }

  @media only screen and (max-width: 1200px) {
    row-gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    padding: 0 5rem;
  }

  @media only screen and (max-width: 350px) {
    padding: 2rem 3rem;
  }
}

.socialbox {
  width: 100%;
  padding: 5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  letter-spacing: 3rem;
  display: flex;
  justify-content: flex-end;

  @media only screen and (max-width: 1200px) {
    justify-content: center;
    padding-bottom: 5rem;
    bottom: 0%;
  }

  @media only screen and (max-width: 900px) {
    justify-content: center;
    padding-bottom: 5rem;
    bottom: -50%;
  }

  @media only screen and (max-width: 350px) {
    bottom: -70%;
  }
}

.social {
  width: 5rem;
  height: 5rem;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &__icon {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  &:hover {
    background-color: white;
    border: 1px solid $violet;
  }

  &:hover &__icon {
    color: $violet;
  }
}
